
.skills-icon-container{
    display: flex;
    width: 100%;
    margin-top: 1rem;
}
.icon{
    font-size: 3rem;
    margin: 1rem;
    margin-left: 2rem;
}


/*Media Queries*/
@media screen and (min-width: 700px) {
    .icon{
        font-size: 5rem;
        margin-left: 5rem;
    }
}